/*Tab Menu Left Side 
Left Side is Menu in Left Dashboard
*/
.row {
    // disable default marrgin left of bootstrap
    margin-left: 0px;
  }
  
  /*
  * Tab menu
  */
  .left_side {
    border-right: 1px solid #ccc;
    padding: 0px !important;
  }
  
  .left-side {
    padding: 0px;
    &--common {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      img {
        border-radius: 50px;
        height: 100px;
      }
      h1 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
  /*End Tab Menu Left Side */